
main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 1px;
}
  
app-square {
    background-color: gray;
    height: 200px;
    text-align: center;
    font-size: 112px;
}